In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
cd "/content/drive/MyDrive/lhc_ml_26/dataset"

/content/drive/MyDrive/lhc_ml_26/dataset

In [5]:
ds1 = pd.read_csv('postLinks.csv')
ds1.head()

,Unnamed: 0,id,creation_date,post_id,related_post_id,link_type_id
0,0,19,2010-04-26T02:59:48.130,109,32412,1
1,1,37,2010-04-26T02:59:48.600,1970,617600,1
2,2,42,2010-04-26T02:59:48.647,2154,2451138,1
3,3,48,2010-04-26T02:59:48.740,2483,496096,1
4,4,52,2010-04-26T02:59:48.757,2572,209329,1

In [6]:
#6

duplipost = ds1[ds1['link_type_id'] == 3]
duplique = []
for i in duplipost["post_id"]:
    duplique.append(i)
print(len(duplique))

682329

In [7]:
dupliquetag = []
for i in ds1.values:
    if(i[1] in duplique):
        print(i[1])
        dupliquetag.append(i)

2483

KeyboardInterrupt: ignored